<div class="content" role="main">
  {{title}}<br>

  <button (click)="otvorMenu(menu.OSOBY)">OSOBY</button>
  <button (click)="otvorMenu(menu.KNIHY)">KNIHY</button>
  <button (click)="otvorMenu(menu.VYPOZICKY)">VYPOZICKY</button>

  <router-outlet></router-outlet>
  <!--
  <div *ngIf="aktMenu == menu.KNIHY">


    <button (click)="pridaj1()">PRIDAJ</button><br>

    Zoznam:<br>


  </div>

  <div *ngIf="aktMenu == menu.VYPOZICKY">
    <h1>VYPOZICKY</h1>
    Id:<input [(ngModel)]="vypozicka.id"><br>
    Kniha:<input [(ngModel)]="vypozicka.kniha"><br>
    Osoba:<input [(ngModel)]="vypozicka.osoba"><br>

    <button (click)="pridaj2()">PRIDAJ</button><br>

    Zoznam:<br>

    <div *ngFor="let v of vypozicky">
      {{v.id}} {{v.kniha}} {{v.osoba}}
    </div>
  </div>
  -->
</div>
