<div class="content" role="main">

  dec: <input [(ngModel)]="dec"(change)="toBin()">

  <br><br>
  <a>&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;0</a>
  <br>

  <input type="checkbox" [(ngModel)]="bits[7]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[6]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[5]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[4]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[3]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[2]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[1]" (change)="toDec()">
  <input type="checkbox" [(ngModel)]="bits[0]" (change)="toDec()">

</div>
